selenium
webdriver-manager
textract
pandas
matplotlib
docx2txt
streamlit
pdfplumber
plotly
parsel 
spacy
regex
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
openpyxl
wordcloud
PyMuPDF
